# LaTeX build files
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz

# Build folders
build/
output/

# Editor/system files
.vscode/
.idea/
.DS_Store
Thumbs.db

main.pdf
